


</div>
  <!-- script src="https://code.jquery.com/jquery-1.10.2.min.js"></script -->
  <!--script type="text/javascript">
    $$(document).ready(function(){
      $$(".att-button").click(function(){
        $$(this).addClass("btn-primary");
      });
    });
  </script-->
  <!-- script src="$config.static/bootstrap/dist/js/bootstrap.min.js"></script -->
  <script src="$config.static/styles/iCheck/icheck.js"></script>
  <script type="text/javascript">
    $$(document).ready(function(){
      $$('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_flat-red',
        increaseArea:'20%'
      });
    });
  </script>
</body>
</html>
